<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.reservation.mapper.TCheckitemMapper">
    
    <resultMap type="TCheckitem" id="TCheckitemResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="price"    column="price"    />
        <result property="type"    column="type"    />
        <result property="attention"    column="attention"    />
        <result property="remark"    column="remark"    />
        <result property="checkDept"    column="check_dept"    />
        <result property="helpCode"    column="help_code"    />
        <result property="cate"    column="cate"    />
        <result property="checkgroupId"    column="checkgroup_id"    />
        <result property="notice"    column="notice"    />
        <result property="abstractInfo"    column="abstract"    />
        <result property="isAddin"    column="is_addin"    />
        <result property="sort"    column="sort"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="unit"    column="unit"    />
        <result property="normalRange"    column="normal_range"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTCheckitemVo">
        select id, code, name, sex, age, price, type, attention, remark, create_by, create_time, update_by, update_time, check_dept, help_code, cate, checkgroup_id, notice, abstract, is_addin, sort, del_flag, unit, normal_range from t_checkitem
    </sql>

    <select id="selectTCheckitemList" parameterType="TCheckitem" resultMap="TCheckitemResult">
        <include refid="selectTCheckitemVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="attention != null  and attention != ''"> and attention = #{attention}</if>
            <if test="helpCode != null  and helpCode != ''"> and help_code like concat('%', #{helpCode}, '%')</if>
            <if test="cate != null  and cate != ''"> and cate = #{cate}</if>
            <if test="checkgroupId != null "> and checkgroup_id = #{checkgroupId}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectTCheckitemById" parameterType="Long" resultMap="TCheckitemResult">
        <include refid="selectTCheckitemVo"/>
        where id = #{id}
    </select>

    <insert id="insertTCheckitem" parameterType="TCheckitem" useGeneratedKeys="true" keyProperty="id">
        insert into t_checkitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="price != null">price,</if>
            <if test="type != null">type,</if>
            <if test="attention != null">attention,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="checkDept != null">check_dept,</if>
            <if test="helpCode != null">help_code,</if>
            <if test="cate != null">cate,</if>
            <if test="checkgroupId != null">checkgroup_id,</if>
            <if test="notice != null">notice,</if>
            <if test="abstractInfo != null">abstract,</if>
            <if test="isAddin != null">is_addin,</if>
            <if test="sort != null">sort,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="unit != null">unit,</if>
            <if test="normalRange != null">normal_range,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="price != null">#{price},</if>
            <if test="type != null">#{type},</if>
            <if test="attention != null">#{attention},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="checkDept != null">#{checkDept},</if>
            <if test="helpCode != null">#{helpCode},</if>
            <if test="cate != null">#{cate},</if>
            <if test="checkgroupId != null">#{checkgroupId},</if>
            <if test="notice != null">#{notice},</if>
            <if test="abstractInfo != null">#{abstractInfo},</if>
            <if test="isAddin != null">#{isAddin},</if>
            <if test="sort != null">#{sort},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="unit != null">#{unit},</if>
            <if test="normalRange != null">#{normalRange},</if>
         </trim>
    </insert>

    <update id="updateTCheckitem" parameterType="TCheckitem">
        update t_checkitem
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="price != null">price = #{price},</if>
            <if test="type != null">type = #{type},</if>
            <if test="attention != null">attention = #{attention},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="checkDept != null">check_dept = #{checkDept},</if>
            <if test="helpCode != null">help_code = #{helpCode},</if>
            <if test="cate != null">cate = #{cate},</if>
            <if test="checkgroupId != null">checkgroup_id = #{checkgroupId},</if>
            <if test="notice != null">notice = #{notice},</if>
            <if test="abstractInfo != null">abstract = #{abstractInfo},</if>
            <if test="isAddin != null">is_addin = #{isAddin},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="normalRange != null">normal_range = #{normalRange},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCheckitemById" parameterType="Long">
        delete from t_checkitem where id = #{id}
    </delete>

    <delete id="deleteTCheckitemByIds" parameterType="String">
        delete from t_checkitem where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>